@import "src/app/styles/variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  background-color: $gray-main-background;
}

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.order {
  height: 100%;

  &__header {
    @include cardShadow;

    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .title {
      @include titleFormat;

      display: flex;
      justify-content: center;
    }
  }

  &__overview {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;

    .menu-overview {
      width: 70%;

      &__title {
        @include titleFormat;

        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: center;
      }

      .overview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        grid-row-gap: 25px;

        //padding: 1rem;

        //background-color: blueviolet;
      }
    }

    .bill-overview {
      width: 30%;
      padding-left: 1rem;

      display: flex;
      flex-direction: column;
      //background-color: yellow;

      .bill {
        @include cardShadow;

        display: flex;
        flex-direction: column;
        background-color: white;

        &__title {
          @include titleFormat;

          display: flex;
          justify-content: center;
          margin: 1rem 0 1rem 0;
        }

        .bill-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          //align-content: center;

          &__name {
            width: 35%;
          }

          &__quantity {
            display: flex;
            align-items: center;

            width: 55%;
          }

          &__price {
            width: 10%;
          }
        }

        .empty-order {
          display: flex;
          justify-content: center;

          margin: 0.5rem 0 0.5rem 0;
          opacity: 0.4;
        }

        &__bottom {
          @include titleFormat;

          //margin: 0 0.5rem 0.5rem 0;
          margin: 0.5rem 1rem 1rem 0;

          display: flex;
          justify-content: end;
        }
      }

      .buttons {
        display: flex;
        justify-content: end;

        margin-top: 0.5rem;
      }
    }


  }
}

.menu-item-card {
  img {
    width: 100%;
    height: 100%;
  }

  p {
    height: 3rem;
    overflow: auto;
  }

  .header-image {
    background-image: url('https://e7.pngegg.com/pngimages/694/227/png-clipart-monumental-restaurant-elche-logo-kitchen-kitchen-miscellaneous-kitchen.png');
    background-size: cover;
  }

  .buttons {
    button {
      margin-right: 0.5rem;
    }
  }
}

.dialog {
  &__header {
    display: flex;
    justify-content: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;

    mat-form-field {
      margin-bottom: 0.5rem;
    }
  }
}
